<h2>All Tasks</h2>

  <% @tasks.each do |task| %>
    <div class='d-flex align-items-center'>
      <input type="checkbox" <%= task.completed ? 'checked' : '' %> id=<%= task %>>
      <label class='mb-0 p-1' for=<%= task %>> <%= link_to task.title, task_path(task) %> </label>
      <%= link_to task_path(task), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>

<hr>

<%= link_to "Create new task", new_task_path %>
